*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F6F6F6;
    
}
header{
    margin: 0;
    padding: 0;
}

div{
    display: flex;
    justify-content: space-between
}

img{
    margin-right: 30px;
}

h1{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #212121;
    margin: 0;
    padding: 0;
    height: 72px;
}
a{
    
    padding: 0;
    color: #F6F6F6;
    text-decoration: none;
    margin-top: 20px;
}
h2{
    color: #6D9886;
}

.text-yellow{
    color: #D9CAB3;
}

address{
    font-style: normal;
    font-weight: bold;
}
#mail{
    color: #212121;
    font-weight: bold;
}